<div>
  <form (ngSubmit)="submitForm()" class="custom-form" #form="ngForm">
    <label for="albumId">Album id:</label>
    <input
      id="albumId"
      type="number"
      class="form-input"
      [(ngModel)]="post.albumId"
      name="albumId"
      required
    />

    <label for="title">Title:</label>
    <input
      id="title"
      type="text"
      class="form-input"
      [(ngModel)]="post.title"
      name="title"
      required
    />

    <label for="url">Url:</label>
    <input
      id="url"
      type="text"
      pattern="https://.*"
      class="form-input"
      [(ngModel)]="post.url"
      name="url"
      required
      #templateUrl="ngModel"
      [ngClass]="{
        'is-invalid': templateUrl.touched && !templateUrl.valid,
        'is-valid': templateUrl.valid
      }"
    />
    <span *ngIf="templateUrl.errors && templateUrl.touched"
      >Please fill this field with url</span
    >

    <label for="thumbnailUrl">Thumbnail url:</label>
    <input
      id="thumbnailUrl"
      type="url"
      pattern="https://.*"
      class="form-input"
      [(ngModel)]="post.thumbnailUrl"
      name="thumbnailUrl"
      required
      #templateUrlVar="ngModel"
      [ngClass]="{
        'is-invalid': templateUrlVar.touched && !templateUrlVar.valid
      }"
    />
    <span *ngIf="templateUrlVar.errors && templateUrlVar.touched"
      >Please fill this field with url</span
    >

    <button
      type="submit"
      class="submit-button"
      [disabled]="!form.valid"
      [ngClass]="{
        'enabled-button': form.valid,
        'disabled-button': !form.valid
      }"
    >
      {{ form.valid ? "Submit form" : "Form Invalid" }}
    </button>
  </form>
</div>
