<div class="hero-section-wrapper">
  <div class="hero-section-content-wrapper">
    <div class="hero-section-left-side-content">
      <h1>MCA internship project</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores
        architecto error voluptas recusandae sequi dolores tempore ipsam
        consequuntur animi, necessitatibus deserunt, saepe inventore! Alias
        molestiae debitis officia quae quod doloribus molestias reiciendis
        voluptas illo repudiandae ea quo sunt incidunt, at magni, voluptatem
        quibusdam assumenda pariatur laboriosam distinctio perferendis ducimus
        saepe?
      </p>
    </div>
    <div class="hero-section-right-side-content">
      <div class="hero-section-image-wrapper">
        <img src="../../../assets//images//mca-logo.png" class="image-style" />
      </div>
    </div>
  </div>
</div>
