.nav-items-wrapper {
  ul {
    display: flex;

    align-items: center;
    justify-content: center;
  }
  ul li {
    margin: 0.625rem;
    list-style: none;
    font-size: 1.2rem;
    display: flex;

    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 800px) {
    ul {
      display: block;
      position: relative;
    }
  }
}
a {
  text-decoration: none;
  color: black;
}
