/* You can add global styles to this file, and also import other style files */
body {
  padding: 0px;
  margin: 0px;
}
.flex-layout {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .flex-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
